* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#sidebar {
  z-index: 111;
  position: fixed;
  width: 20%;
  height: 100%;
  border: 2px solid red;
  /* background-color: aquamarine; */
}

#sidebar div {
  padding-top: 50px;
  padding-left: 20px;
}

#sidebar div a {
  display: block;
  line-height: 50px;
}

#sidebar div a:hover {
  background-color: aqua;
}

#header {
  position: static;
  float: right;
  width: 80%;
  border: 2px solid green;
}

#main {
  float: right;
  width: 80%;
  height: 600px;
  background-color: rgba(255, 0, 0, 0.678);
  border: 2px solid gold;
}

#login-details {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.664);
  width: 250px;
  height: auto;
  position: absolute;
  right: 0px;
  background-color: rgb(196, 191, 191);
}

#burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 100px;
}

.bar {
  border: 1px solid white;
  width: 35px;
  height: 10px;
  background-color: black;
}

#login-details a:hover {
  background-color: rgb(156, 155, 155);
}

#login-details a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  text-shadow: 2px 2px 5px red;
  text-decoration: none;
  padding: 10px;
  display: block;
}

form {
  border: 1px solid green;
  display: flex;
  align-items: center;
  flex-direction: column;
}


input {
  width: 50%;
  height: 40px;
}

input:focus {
  outline: none;
}